.item{
    width: 220px;
    padding: 0 0 24px 0;
    /* background: gray; */
    margin: 18px 12px 18px 12px;
    border-radius: 4px;
}

.item:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px #00000014;
    transition: 0.3s ease-in-out;
}

.prdctimg{
    height: 303px;
    width: 202px;
    object-fit: cover;
    border-radius: 3px;
    margin: 0 0px 0px 0px;
    padding: 6px 0px 0 9px
}

.prdctitle{
    margin: 5px 0 0px 4px;
    font-size: 16px;
    font-weight: 700;
}

.prdctBrandname{
    margin: 4px 0 0 4px;
    font-size: 12px;
    font-weight: 700;
    color: #592828;
}

.pricesection{
    display: flex;
    align-items: flex-end;
    margin: 14px 0 0 4px;
}


.prdctBrand{
    color: #858187;
    font-style: italic;
    font-weight: 400;
}

.prdctprice{
    margin: 0 0 0 0;
    font-size: 14px;
    font-weight: 700;
}

.prdcmrp{
    margin: 0 0 0 6px;
    font-size: 13px;
    text-decoration: line-through;
    color: #aca094;
    font-weight: 300;
}

.prdcdiscount{
    margin: 0 0 0 6px;
    font-size: 13px;
    color:  #049704;
    font-weight: 700;
}